body, h1, p, ul {
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 5%;
    z-index: 10;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 0 auto; 
    backdrop-filter: blur(8px); 
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 8px;
}

.header-container.active {
    background-color: rgb(19, 147, 192, 0.7);
}

.logo img {
    max-height: 50px;
    height: auto;
    margin: 5px 0px;
    transform: translateZ(0);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    background: none; 
    box-shadow: none; 
    border-radius: 0; 
    transform: scale(1.5);
    
}

.logo img:hover {
    transform: scale(1.55);
    transform: translateZ(10);
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: right;
    gap: 20px; 
}


.navbar-item a {
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter; 
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar-item a:hover {
    color: #FFD700; 
}


.menu-toggle {
    display: none; 
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
    }

    .navbar.open {
        display: flex;
    }

    .navbar-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;
        background-color:  rgba(26, 46, 69, 0.8);
        position: absolute;
        top: 20px;
        padding: 20px;
        border-radius: 8px;
    }
    

    .menu-toggle {
        display: flex;
        padding: 0 20px;

    }

    .menu-toggle.open .hamburger:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-toggle.open .hamburger:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.open .hamburger:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}

@media (min-width: 769px) and (max-width: 960px) {
    .navbar {
        flex-grow: 1;
        text-align: right;
        display: flex;
        justify-content: center;
    }

    .navbar-item {
        padding: 0 5px;
    }
}