.testimonials {
    padding: 50px 0;
    background-color: rgba(19, 147, 192, 0.8);
    color: white;
    text-align: center;
}

.testimonials .container {
    max-width: 1200px;
    margin: 0 auto;
}

.testimonials h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.testimonials-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonials-cards .card {
    background-color:  rgba(26, 46, 69, 0.8);
    border: none;
    padding: 20px;
    margin: 10px;
    width: 26%;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.testimonials-cards .card p {
    font-size: 16px;
    line-height: 1.6;
    font-style: italic;
    margin-bottom: 15px;
}

.testimonials-cards .card h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

@media (max-width: 1200) {
    .testimonials-cards {
        padding: 0px 10px;
    }
}

@media (max-width: 768px) {
    .testimonials-cards{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .testimonials-cards .card {
        width: 31%;
        margin: 10px 0;
        padding: 25px;
    }

    .testimonials h2 {
        font-size: 24px;
        font-weight: bolder;
    }

    .testimonials-cards .card p {
        font-size: 12px;
    }

    .testimonials-cards .card h4 {
        font-size: 13.5px;
    }
}
